<div class="pb-4">
<div class="container-fluid">
  <div class="row">
    <div class=" mx-auto col-md-12">
      <h3 class="mb-2">Categories</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-2 p-0"> <img class="img-fluid d-block" src="https://assets.thalia.media/base/1-Buecher/2019/Sonstiges/Schriftumstellung/Kategorien/Kategorieslider_180x95_Buchstartseite_Sachbuch.jpg"> </div>
<div class="col-6 col-md-4 col-lg-2 p-0"> <img class="img-fluid d-block" src="https://assets.thalia.media/base/1-Buecher/2019/Sonstiges/Schriftumstellung/Kategorien/Kategorieslider_180x95_Buchstartseite_Freizeit_und_Hobby.jpg"> </div>
    <div class="col-6 col-md-4 col-lg-2 p-0"> <img class="img-fluid d-block" src="https://assets.thalia.media/base/1-Buecher/2019/Sonstiges/Schriftumstellung/Kategorien/Kategorieslider_180x95_Buchstartseite_Reise_und_Abendteuer.jpg"> </div>
    <div class="col-6 col-md-4 col-lg-2 p-0"> <img class="img-fluid d-block" src="https://assets.thalia.media/base/1-Buecher/2019/Sonstiges/Schriftumstellung/Kategorien/Kategorieslider_180x95_Buchstartseite_Jugendbuecher.jpg"> </div>
    <div class="col-6 col-md-4 col-lg-2 p-0"> <img class="img-fluid d-block" src="https://assets.thalia.media/base/1-Buecher/2019/Sonstiges/Schriftumstellung/Kategorien/Kategorieslider_180x95_Buchstartseite_Fantasy.jpg"> </div>
    <div class="col-6 col-md-4 col-lg-2 p-0"> <img class="img-fluid d-block" src="https://assets.thalia.media/base/1-Buecher/2019/Sonstiges/Schriftumstellung/Kategorien/Kategorieslider_180x95_Manga_V2-compressor.jpg"> </div>   
  </div>
</div>
</div>
