<header class="headerimg">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="display-3 text-capitalize text-white" style="text-shadow: 0 0 14px green;">book store</h1>
        <p class="lead text-dark"><span class="bg-warning"> Components designed to fit nicely together </span></p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="py-4 text-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-7">
        <hr>
        <p>"A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I
          enjoy with my whole heart. I am alone, and feel the charm of <a href="#">existence in this spot</a>, which was
          created for the bliss of souls like mine."</p>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <app-booksview></app-booksview>
      </div>
      <aside class="col-md-3">
        <app-aside></app-aside>
      </aside>
    </div>
  </div>
</div>






