.headerimg {
  height: 80vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

aside {
  border: solid brown;
}

.headerimg {
  background-size: cover;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/78b4e8dd-a0e4-4580-8248-3c8020903c4e/d1yh1pf-98f4752c-b385-44f9-8d9a-82a3946c8b03.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc4YjRlOGRkLWEwZTQtNDU4MC04MjQ4LTNjODAyMDkwM2M0ZVwvZDF5aDFwZi05OGY0NzUyYy1iMzg1LTQ0ZjktOGQ5YS04MmEzOTQ2YzhiMDMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.e-_R1r2nQhGGzjrqRyXr_u3wchl_AQapIT8g-AexVwE);
}
