<div class="card" id="bookcard">
  <div class="p-1 mx-auto">
    <img class="card-img-top"
         src="{{book.imgUrl}}"
         alt="book {{book.id}}">
  </div>
  <div class="card-body p-2">
    <span id="title">"{{book.title}}"</span>
    <div> {{book.author}} </div>
    <i> {{book.year}} - {{book.publisher}}</i>
  </div>

  <div class="px-2">
    <div class="text-right" id="price">&#8364;{{book.price}}</div>
    <form class="input-group py-2">
      <input type="number" min="1" class="form-control form-control-sm mr-2" placeholder="1"
             id="addToCart" name="quantityForm" [(ngModel)]="quantity"
             required>
      <div class="input-group-append">
        <button class="btn btn-warning btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm"
                (click)="onAddToCart(book, quantity) "> + 🛒
        </button>
      </div>
    </form>
  </div>

</div>

