#bookcard {
  background-color: antiquewhite;
}

.card-body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 11px;
  height: 7.5em;
}

#title {
  font-weight: bold;
  font-size: 12px;
}

/* Transition property for smooth transformation of images */
.card img {
  transition: transform .5s ease;
}

/* transforming the image when container gets hovered */
img:hover {
  transform: scale(1.2);
}

.card-img-top {
  height: 8em;
  width: 6em;
}

#price {
  font-size: .8em;
  font-weight: bolder;
  color: green;
}

input:required {
  //border-color: red !important;
  color: red;
}

::placeholder {
  font-size: 0.8em;
  font-style: italic;
}
